In [13]:
%load_ext kedro

The kedro extension is already loaded. To reload it, use:
  %reload_ext kedro

In [14]:
session

<kedro.framework.session.session.KedroSession object at 0x752380326710>

In [15]:
context

KedroContext(
    project_path=PosixPath('/home/zishan/Documents/projects/spaceflights'),
    config_loader=OmegaConfigLoader(conf_source=/home/zishan/Documents/projects/spaceflights/conf, env=None, runtime_params={}, config_patterns={'catalog': ['catalog*', 'catalog*/**', '**/catalog*'], 'parameters': ['parameters*', 'parameters*/**', '**/parameters*'], 'credentials': ['credentials*', 'credentials*/**', '**/credentials*'], 'globals': ['globals.yml']}, base_env=base), default_run_env=local), custom_resolvers=None), merge_strategy={}),
    env=None,
    _package_name=None,
    _hook_manager=<pluggy._manager.PluginManager object at 0x752380326ad0>,
    _runtime_params=None
)

In [16]:
catalog

'parameters': kedro.io.memory_dataset.MemoryDataset(data='<dict>')
'companies': kedro_datasets.pandas.csv_dataset.CSVDataset(filepath=PurePosixPath('/home/zishan/Documents/projects/spaceflights/data/01_raw/companies.csv'), protocol='file', load_args={}, save_args={'index': False})
'reviews': kedro_datasets.pandas.csv_dataset.CSVDataset(filepath=PurePosixPath('/home/zishan/Documents/projects/spaceflights/data/01_raw/reviews.csv'), protocol='file', load_args={}, save_args={'index': False})
'shuttles': kedro_datasets.pandas.excel_dataset.ExcelDataset(filepath=PurePosixPath('/home/zishan/Documents/projects/spaceflights/data/01_raw/shuttles.xlsx'), protocol='file', load_args={'engine': 'openpyxl'}, save_args={'index': False}, writer_args={'engine': 'openpyxl'})

In [17]:
pipelines

{'__default__': Pipeline([])}

In [18]:
%load_ext kedro.ipython

The kedro.ipython extension is already loaded. To reload it, use:
  %reload_ext kedro.ipython

In [19]:
companies = catalog.load('companies')
companies.head()

[10/02/25 18:36:56] INFO     Loading data from companies (CSVDataset)...                       ]8;id=121351;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=929943;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py#1046\1046]8;;\

,id,company_rating,company_location,total_fleet_count,iata_approved
0,3888,100%,Isle of Man,1.0,f
1,46728,100%,NaN,1.0,f
2,34618,38%,Isle of Man,1.0,f
3,28619,100%,Bosnia and Herzegovina,1.0,f
4,8240,NaN,Chile,1.0,t

In [20]:
companies.dtypes

id                     int64
company_rating        object
company_location      object
total_fleet_count    float64
iata_approved         object
dtype: object

In [21]:
companies['company_rating'] = companies['company_rating'].str.replace('%', '').astype(float)

In [23]:
companies['iata_approved'] = companies['iata_approved'] == 't'

In [24]:
companies.dtypes

id                     int64
company_rating       float64
company_location      object
total_fleet_count    float64
iata_approved           bool
dtype: object

In [25]:
reviews = catalog.load('reviews')
reviews.head()

[10/02/25 18:42:09] INFO     Loading data from reviews (CSVDataset)...                         ]8;id=740167;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=891796;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py#1046\1046]8;;\

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,45163,91.0,10.0,9.0,9.0,9.0,9.0,9.0,26,0.77
1,49438,96.0,10.0,10.0,10.0,10.0,10.0,9.0,61,0.62
2,10750,97.0,10.0,10.0,10.0,10.0,10.0,10.0,467,4.66
3,4146,95.0,10.0,10.0,10.0,10.0,9.0,9.0,318,3.22
4,5067,97.0,10.0,9.0,10.0,10.0,9.0,10.0,22,0.29

In [26]:
reviews.dtypes

shuttle_id                   int64
review_scores_rating       float64
review_scores_comfort      float64
review_scores_amenities    float64
review_scores_trip         float64
review_scores_crew         float64
review_scores_location     float64
review_scores_price        float64
number_of_reviews            int64
reviews_per_month          float64
dtype: object

In [27]:
shuttles = catalog.load('shuttles')
shuttles.head()

[10/02/25 18:43:09] INFO     Loading data from shuttles (ExcelDataset)...                      ]8;id=96776;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=274981;file:///home/zishan/anaconda3/envs/spaceflights/lib/python3.13/site-packages/kedro/io/data_catalog.py#1046\1046]8;;\

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,45163,Sao Tome and Principe,Type V5,Plasma,ThetaBase Services,2.0,4,moderate,2.0,f,f,"$1,715.0",32413
1,49438,Wallis and Futuna,Type V2,Plasma,ThetaBase Services,3.0,5,moderate,3.0,f,f,"$3,405.0",14122
2,10750,Niue,Type F5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,806.0",47761
3,4146,Malta,Type V2,Quantum,ThetaBase Services,1.0,2,moderate,1.0,f,f,"$1,676.0",26648
4,5067,Malta,Type V2,Plasma,ThetaBase Services,5.0,10,strict,5.0,f,f,"$4,718.0",26648

In [28]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete            object
moon_clearance_complete     object
price                       object
company_id                   int64
dtype: object

In [30]:
shuttles['d_check_complete'] = shuttles['d_check_complete'] == 't'

In [31]:
shuttles['moon_clearance_complete'] = shuttles['moon_clearance_complete'] == 't'

In [32]:
shuttles['price'] = shuttles['price'].str.replace('$', '').str.replace(',', '').astype(float)

In [33]:
shuttles.dtypes

id                           int64
shuttle_location            object
shuttle_type                object
engine_type                 object
engine_vendor               object
engines                    float64
passenger_capacity           int64
cancellation_policy         object
crew                       float64
d_check_complete              bool
moon_clearance_complete       bool
price                      float64
company_id                   int64
dtype: object